@*/**/*
addons/**/*
backups/**/*
battleye/**/*
bot/**/*
BEC/**/*
bliss/**/*
changes/**/*
config/**/*
docs/**/*
dta/**/*
keys/**/*
keys/**/*
!keys/Heros-Haven.bikey
logs/**/*
node_modules/
steamapps/**/*

ban.txt
dayz.gproj
dayzsetting.xml
DayZServer_x64.exe
omega.cfg
priority.txt
serverDZ.cfg
serverDZ.cfg.active
steam_api64.dll
steamclient64.dll
tier0_s64.dll
vstdlib_s64.dll
whitelist.txt

mpmissions/**/storage_1/**/*
BEC/Plugins/PlayerCountToFile/__init__.pyo
BEC/Plugins/CommandKickAll/__init__.pyo
*.pyo
.DS_Store
**/*/.DS_Store

profiles/*.ADM
profiles/*.log
profiles/*.RPT
profiles/gamelabs.cfg
profiles/NoBuildZones.json
profiles/RestrictCharacterAttachments.json
profiles/SteamProfileSwitcher.json

profiles/@Logging/**/*

profiles/BattlEye/**/*

profiles/CarCover/**/*
profiles/CarCover/*.log

profiles/CodeLock/**/*.log

profiles/CommunityOnlineTools/**/*

profiles/DataCache/**/*

profiles/ExpansionMod/**/*.bin
profiles/ExpansionMod/ATM/**/*
profiles/ExpansionMod/Groups/**/*
profiles/ExpansionMod/Logs/**/*

profiles/PermissionsFramework/Players/*
profiles/PermissionsFramework/Permissions/*
!profiles/PermissionsFramework/**/dw-OmAQq9ROhl5Iu836sgxGcJlo7DGOoUnRIb0b0-nI.*
!profiles/PermissionsFramework/**/9WWg8tLpyc6G-shAuda4gA_crUBpqJcFIdx3Q5-kgTk.*
!profiles/PermissionsFramework/**/186jndSiYPfuzrphIOD2EQpmoPOhVRqnq2IONmt0mXs.*
!profiles/PermissionsFramework/**/-z1OXf3uqxM4zAHyClqySYuoEstsfuRwTO2S6lNkGLo=.*
!profiles/PermissionsFramework/**/G1JB4r-bkyeEo67Q1to-wvjplpFt_yRh5YhkGz6X91w.*
!profiles/PermissionsFramework/**/j3e2QzzsKmuGy8VtMcFTF9RFAhMmJf_H0sjhoL9TJEc.*
!profiles/PermissionsFramework/**/o7Dg0rpw_rHkb40FBWvgJdtOwaJipbxOsUfICLtH9T4.*
!profiles/PermissionsFramework/**/Q1GuiJqIqf6jq17VbvqtUTtQdAhftC0_GgNGmIATfPA.*

profiles/SABLE/**/*

profiles/Trader/Logs/**/*

profiles/Users/**/*
