@*/**/*
addons/**/*
backups/**/*
battleye/**/*
bot/**/*
bot/bot.js
BEC/**/*.pyo
BEC/Config/Config.cfg
BEC/Log
BEC/count.txt
bliss/**/*
changes/**/*
config/**/*
docs/**/*
dta/**/*
keys/**/*
keys/**/*
!keys/Heros-Haven.bikey
logs/**/*
node_modules/
steamapps/**/*

ban.txt
dayz.gproj
dayzsetting.xml
DayZServer_x64.exe
omega.cfg
priority.txt
serverDZ.cfg
serverDZ.cfg.active
steam_api64.dll
steamclient64.dll
tier0_s64.dll
vstdlib_s64.dll
whitelist.txt

mpmissions/**/storage_1/**/*
BEC/Plugins/PlayerCountToFile/__init__.pyo
BEC/Plugins/CommandKickAll/__init__.pyo
*.pyo
.DS_Store
**/*/.DS_Store

profiles/*.ADM
profiles/*.log
profiles/*.RPT
profiles/gamelabs.cfg
profiles/NoBuildZones.json
profiles/RestrictCharacterAttachments.json
profiles/SteamProfileSwitcher.json

profiles/@Logging/**/*

profiles/BattlEye/**/*

profiles/CarCover/**/*
profiles/CarCover/*.log

profiles/CodeLock/**/*.log

profiles/CommunityOnlineTools/**/*

profiles/DataCache/**/*

profiles/ExpansionMod/**/*.bin
profiles/ExpansionMod/ATM/**/*
profiles/ExpansionMod/Groups/**/*
profiles/ExpansionMod/Logs/**/*

profiles/PermissionsFramework/Players/*
profiles/PermissionsFramework/Permissions/*
!profiles/PermissionsFramework/**/dw-OmAQq9ROhl5Iu836sgxGcJlo7DGOoUnRIb0b0-nI.*
!profiles/PermissionsFramework/**/9WWg8tLpyc6G-shAuda4gA_crUBpqJcFIdx3Q5-kgTk.*

profiles/SABLE/**/*

profiles/Trader/Logs/**/*

profiles/Users/**/*
