@*/**/*
addons/**/*
backups/**/*
battleye/**/*
bot/bot.js
BEC/**/*.pyo
BEC/Config/Config.cfg
BEC/Log
BEC/count.txt
bliss/**/*
changes/**/*
config/**/*
docs/**/*
dta/**/*
keys/**/*
logs/**/*
node_modules/
profiles/**/*
steamapps/**/*

ban.txt
dayz.gproj
dayzsetting.xml
DayZServer_x64.exe
omega.cfg
priority.txt
serverDZ.cfg
serverDZ.cfg.active
steam_api64.dll
steamclient64.dll
tier0_s64.dll
vstdlib_s64.dll
whitelist.txt

mpmissions/**/storage_1/**/*
BEC/Plugins/PlayerCountToFile/__init__.pyo
BEC/Plugins/CommandKickAll/__init__.pyo
